<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Artist.Id}}</title>
</head>
<link rel="stylesheet" href="/static/Artist.css">
<body>
    
    <div class="card">
        <h1>Artist Name: {{.Artist.Name}}</h1>
        <img src="{{.Artist.Image}}" style="width: 300px; height: 300px;">
        <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
        <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>
        <p><strong>Members:</strong> {{range .Artist.Members}}{{.}}, {{end}}</p>
        <h3>Tour Locations:</h3>
        <ul>
            {{range .Location}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        <h3>Tour Dates:</h3>
        <ul>
            {{range .Date}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        <h3>Relations (Locations and Dates):</h3>
        <ul>
            {{range $location, $dates := .Relation}}
            <li><strong>{{ $location }}</strong>: {{ range $dates }}{{.}}, {{end}}</li>
            {{end}}
        </ul>
        <br>
        <a href="/">
            <button>back home</button>
        </a>
    </div>
</body>
</html>