<!DOCTYPE html>
<html lang="en">
    <style>
    body{
        background-image: url(/static/download.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
        margin: auto;
    }
    div{
        display: flex;
        justify-content: space-between;
      
        margin-top: 100px;
        font-size: 400%;
        justify-content: center;
    
    }

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div> 
           <img src="https://cbx-prod.b-cdn.net/COLOURBOX49946559.jpg?width=800&height=800&quality=70" >

    <h1>{{.Code}}</h1>
    <h1>{{.Message}}</h1>
</div>

</body>
</html>